<!DOCTYPE html>
<!--
  project: MyTinyApp
  By: Assa Paran
  Date: 02-APR-2026
-->
<html>
<head> 
<title>MyTineyApp</title>
  <link rel="stylesheet"  href="{{ url_for('static', filename='css/tinyapp.css') }}">
  <!--   <link rel="stylesheet" href="tinyapp.css"> -->     
<style>
</style>
</head>
<body>
<p>
<h1><b>MyTinyApp</b></h1>
</p>
<h1>login: OK</h1>
<p>
Applications
<form method="POST" action="">
    <button type="submit"  name="open_notes_app_btn" formaction="/notes">Notes App</button>
    <button type="submit"  name="open_user_app_btn" formaction="/users">Users maintenance</button>Admin Only
</p>
</body>
</html>