<!DOCTYPE html>
<!--
  project: MyTinyApp
  By: Assa Paran
  Date: 02-APR-2026
-->
<html>
<head> 
<title>MyTineyApp</title>
<style>
table ,th,td {
  border: 1px solid black; 
  }
/* input[type="text"] */
.input_text_without_borders
{
    border: none;    /* Removes the standard border */
    outline: none;   /* Removes the blue/orange glow on focus */
}
</style>
</head>
<body>
<p>
<h1><b>MyTinyApp</b></h1>
</p>
<h1>login: Non Admin user</h1>
Non Admin user not allowed to maintain users
<p>
Applications
<form method="POST" action="">
    <button type="submit"  name="open_notes_app_btn" formaction="/notes">Notes App</button>
</p>
</body>
</html>